<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">		  
		
		  <div class="panel-group">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <h3><span th:utext="${userName}"></span></h3>
               	
               	<form th:action="@{/logout}" method="get">
					<button class="btn btn-md btn-danger" name="registration" type="Submit">Logout</button>
				</form>
            </div>
		
		
		<div class="row" style="margin-top:20px">
			<div class="col-md-12">
				<div>
					<button type="button" class="btn btn-succes">Tambah User</button>
				</div>
				
			<div class="panel-body">
					 <table class="table table-bordered">
					 	<tr>
					 		<td>Id</td>
					 		<td>Email</td>
					 		<td>Name</td>
					 		<td>Update Date</td>
					 		<td>Update By</td>
					 		<td>Action</td>
					 	</tr>
					 	<tr>
					 		<td></td>
					 		<td></td>
					 		<td></td>
					 		<td></td>
					 		<td></td>
					 		<td>
					 			<button type="button" class="btn btn-default">Edit</button>
					 			<button type="button" class="btn btn-danger">Delete</button>
					 		</td>
					 	</tr>
					 </table>
				</div> 
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
			</div>
		</div>
		
	</div>
</body>
</html>